* {
    padding: 0;
    margin: 0;
}
#project-list {
    display: flex;
    background-color: darkslategray;
}
.project-nav-button {
    color: white;
    font-size: 1.1em;
    padding: 5px;
    cursor: pointer;
}
.project-nav-button:hover {
    background-color: white;
    color: darkslategray;
}
.todo-item {
    text-align: center;
    padding: 5px;
    color: white;
}
